.card .card-header-btn {
    padding: 20px 20px 20px 35px;
}
table.table thead > tr th {
    text-align: center;
}
table.table tbody > tr td {
    text-align: center;
    height: 36px;
    line-height: 36px;
    padding: 6px;
}
.status-circle i {
    font-size: 3px;
    color: #777;
    margin-right: 2px;
}
.status-circle-on i {
    font-size: 3px;
    color: #29c75f;
    margin-right: 2px;
}
.form-other-control {
    margin-bottom: 15px;
}
.form-select {
    border: 1px solid #c8d1d3;
    height: 36px;
    min-width: 50%;
    padding: 10px 15px;
    background-color: transparent;
    box-shadow: none;
    margin-bottom: 15px;
}